@model Umbraco.Web.Models.ContentEditing.AdvisoryPrintVM
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var now = DateTime.Now;
}

<div>
    <div class="d-flex mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="img-fluid me-3 w-20" src="@Model.Company.Logo" alt="@Model.Company.Name">
        }
        <div>
            <div class="text-xl font-semibold">@Model.Company.Name</div>
            @if (!string.IsNullOrEmpty(Model.Company.Address))
            {
                <div>Địa chỉ: @Model.Company.Address</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>Điện Thoại: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center mb-2">
        <div class="text-3xl font-semibold">TƯ VẤN TIỂU SỬ RĂNG</div>
        <div>Ngày @now.Day tháng @now.Month năm @now.Year </div>
    </div>
    <div class="o_form_view  mb-2">
        <div class="d-flex">
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Khách hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.DisplayName)</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.Address)</td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Điện thoại
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.Phone)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="o_form_view  mb-2">
        <div class="text-lg font-semibold mb-1">DANH SÁCH TIỂU SỬ RĂNG</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ngày tư vấn</th>
                    <th>Người tư vấn</th>
                    <th width="15%">Răng</th>
                    <th>Chẩn đoán</th>
                    <th>Dịch vụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Advisories)
                {
                <tr>
                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    @if (item.Employee != null)
                    {
                        @if (!string.IsNullOrEmpty(item.Employee.Name))
                        {
                            <td>@item.Employee.Name</td>
                        }
                    }
                    @if (item.ToothType != "manual")
                    {
                        <td>@((item.ToothType == "whole_jaw" ? "Nguyên hàm" : (item.ToothType == "upper_jaw" ? "Hàm trên" : "Hàm dưới")))</td>
                    }
                    else
                    {
                        <td>@(item.Tooths)</td>
                    }

                    <td>@item.Diagnosis</td>
                    <td>@item.Services</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex">
        <div class="col ">

        </div>
        <div class="col ">
            <div class="text-center">
                <span class="font-semibold">Khách hàng</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(!string.IsNullOrEmpty(Model.Partner.Name) ? Model.Partner.Name.ToUpper() : "")</span>
            </div>
        </div>
    </div>
</div>
