@model Umbraco.Web.Models.ContentEditing.AdvisoryPrintVM
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var now = DateTime.Now;
}

<div>
    <div class="d-flex mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="img-fluid me-3 w-20" src="@Model.Company.Logo" alt="@Model.Company.Name">
        }
        <div>
            <div class="text-xl font-semibold">@Model.Company.Name</div>
            @if (!string.IsNullOrEmpty(Model.Company.Address))
            {
                <div>Địa chỉ: @Model.Company.Address</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>Điện Thoại: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center mb-2">
        <div class="text-3xl font-semibold">TƯ VẤN DỊCH VỤ</div>
        <div>Ngày @now.Day tháng @now.Month năm @now.Year </div>
    </div>
    <div class="o_form_view  mb-2">
        <div class="d-flex">
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Khách hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.DisplayName)</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.Address)</td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Điện thoại
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner.Phone)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="o_form_view  mb-2">
        <div class="text-lg font-semibold mb-1">DANH SÁCH TƯ VẤN</div>
        <table class="table table-bordered">
            <thead>
                <tr class="font-semibold">
                    <td>Ngày tư vấn</td>
                    <td>Người tư vấn</td>
                    <td>Răng</td>
                    <td>Chẩn đoán</td>
                    <td>Dịch vụ</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Advisories)
                {
                    <tr>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td>@item.User.Name</td>
                        <td>@string.Join(", ", item.Teeth.Select(x => x.Name))</td>
                        <td>@string.Join(", ", item.ToothDiagnosis.Select(x => x.Name))</td>
                        <td>@string.Join(", ", item.Product.Select(x => x.Name))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex">
        <div class="col ">
            <div class="text-center">
                <span class="font-semibold">Người Tư vấn</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(!string.IsNullOrEmpty(Model.User.Name) ? Model.User.Name.ToUpper() : "")</span>
            </div>
        </div>
        <div class="col ">
            <div class="text-center">
                <span class="font-semibold">Khách hàng</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(!string.IsNullOrEmpty(Model.Partner.Name) ? Model.Partner.Name.ToUpper() : "")</span>
            </div>
        </div>
    </div>
</div>
