@model ApplicationCore.Entities.StockPicking
@using Umbraco.Web.Models.ContentEditing;
@{
    var configPrint = ViewData["ConfigPrint"] as ConfigPrintDisplay;
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    var now = DateTime.Now;
}

<div>
    <div class="d-flex mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="img-fluid me-3 w-20" src="@Model.Company.Logo" alt="@Model.Company.Name">
        }
        <div>
            <div class="text-xl font-semibold">@Model.Company.Name</div>
            @if (!string.IsNullOrEmpty(Model.Company.Partner.GetAddress()))
            {
                <div>Địa chỉ: @Model.Company.Partner.GetAddress()</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>ĐT: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center mb-2">
        <div class="text-3xl font-semibold">@(Model.PickingType.Code == "outgoing" ? "PHIẾU XUẤT KHO":"PHIẾU NHẬP KHO")</div>
        <div>Ngày @now.Day tháng @now.Month năm @now.Year </div>
        <div class="font-semibold">Số: @Model.Name</div>
    </div>
    <div class="o_form_view mb-2">
        <div class="d-flex">
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Đối tác
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Partner != null? Model.Partner.Name : "")</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Ghi chú
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Note)</td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group col-6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Ngày
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Date.HasValue? Model.Date.Value.ToString("dd/MM/yyyy") : "")</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <table class="table table-bordered  table-sm">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã sản phẩm</th>
                <th class="text-center">Sản phẩm</th>
                <th class="text-center">Loại sản phẩm</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn vị tính</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.MoveLines.Select((value, i) => (value, i)))
                {
                        <tr>
                            <td class="text-center">@(item.i + 1)</td>
                            <td class="text-center">@item.value.Product.DefaultCode</td>
                            <td class="text-center">@item.value.Name</td>
                            <td class="text-center">@item.value.Product.Categ.Name</td>
                            <td class="text-center">@item.value.ProductUOMQty.ToString("n0")</td>
                            <td class="text-center">@item.value.ProductUOM.Name</td>
                        </tr>
                }
            }
        </tbody>
    </table>
    <div class="d-flex">
        <div class="col col-sm">
        </div>
        <div class="col col-sm">
            <div class="text-center">
                <span class="font-semibold">Người lập phiếu</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(Model.CreatedBy.Name.ToUpper())</span>
            </div>
        </div>
    </div>
</div>
