@model Umbraco.Web.Models.ContentEditing.QuotationPrintVM
@{ Layout = "~/Views/Shared/_PrintLayout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var today = DateTime.Now; }

<div class="">
    <div class="d-flex mb-2">
        @if (Model.Company != null)
        {
@if (!string.IsNullOrEmpty(Model.Company.Logo))
{
<img class="img-fluid me-3" style="width: 150px;" src="@Model.Company.Logo" alt="@Model.Company.Name">}
                <div>
                    <div class="text-xl font-semibold">@Model.Company.Name</div>
                    @if (!string.IsNullOrEmpty(Model.Company.Address))
                    {
    <div>Địa chỉ: @Model.Company.Address</div>}
                    @if (!string.IsNullOrEmpty(Model.Company.Phone))
                    {
    <div>ĐT: @Model.Company.Phone</div>}
                    @if (!string.IsNullOrEmpty(Model.Company.Email))
                    {
    <div>Email: @Model.Company.Email</div>}
                </div>}

    </div>
    <div class="text-center">
        <div class="text-3xl font-semibold mt-4">BÁO GIÁ DỊCH VỤ</div>
        <div>Ngày @today.Day tháng @today.Month năm @today.Year </div>
        <div class="font-semibold mb-2">Số: @Model.Name</div>
    </div>
    <div class="o_form_view">
        <div class="o_group mt-0 mb-0">
            <div class="d-flex">
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr class="mb-2">
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Khách hàng
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                @Model.Partner.DisplayName
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Partner.Phone))
                        {
            <tr class="mb-2">
                <td colspan="1" class="o_td_label">
                    <label class="o_form_label o_form_label_help">
                        Điện thoại
                    </label>
                </td>
                <td colspan="1" style="width: 100%;">
                    @Model.Partner.Phone
                </td>
            </tr>}

                        @if (!string.IsNullOrEmpty(Model.Partner.Address))
                        {
            <tr class="mb-2">
                <td colspan="1" class="o_td_label">
                    <label class="o_form_label o_form_label_help">
                        Địa chỉ
                    </label>
                </td>
                <td colspan="1" style="width: 100%;">
                    @Model.Partner.Address
                </td>
            </tr>}
                        @if (!string.IsNullOrEmpty(Model.Note))
                        {
            <tr class="mb-2">
                <td colspan="1" class="o_td_label">
                    <label class="o_form_label o_form_label_help">
                        Ghi chú
                    </label>
                </td>
                <td colspan="1" style="width: 100%;">
                    @Model.Note
                </td>
            </tr>}
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr class="mb-2">
                            <td colspan="2" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Ngày báo giá
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                @Model.DateQuotation.ToString("dd/MM/yyyy")
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Employee.Name))
                        {
            <tr class="mb-2">
                <td colspan="2" style="width: 50%; min-width: 100px;">
                    <label class="o_form_label o_form_label_help">
                        Người báo giá
                    </label>
                </td>
                <td colspan="1" style="width: 100%;">
                    @Model.Employee.Name
                </td>
            </tr>}


                        <tr class="mb-2">
                            <td colspan="2" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Số ngày áp dụng
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                @Model.DateApplies ngày
                            </td>
                        </tr>

                        @if (Model.DateEndQuotation.HasValue)
                        {
            <tr class="mb-2">
                <td colspan="2" class="o_td_label">
                    <label class="o_form_label o_form_label_help">
                        Ngày hết hạn
                    </label>
                </td>
                <td colspan="1" style="width: 100%;">
                    @Model.DateEndQuotation.Value.ToString("dd/MM/yyyy")
                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="text-lg font-semibold mb-1">DANH SÁCH DỊCH VỤ BÁO GIÁ</div>
        <table class="table table-sm table-bordered mb-1">
            <thead>
                <tr>
                    <th>Dịch vụ</th>
                    <th class="text-left">Số lượng</th>
                    <th class="text-left">Đơn giá</th>
                    <th class="text-left">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Lines)
                {
                <tr *ngFor="let line of Lines; let i=index">
                    <td>@line.Name</td>
                    <td class="text-right">@string.Format(culture, "{0:0}", @line.Qty)</td>
                    <td class="text-right">@string.Format(culture, "{0:0}", (@line.SubPrice - line.AmountDiscountTotal))</td>
                    <td class="text-right">@string.Format(culture, "{0:0,0}", line.Amount)</td>
                </tr>}

            </tbody>
        </table>
        <div class="o_form_view float-right">
            <table class="o_group o_inner_group">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label pr-3">
                            <label class="o_form_label mb-2">
                                Tổng tiền
                            </label>
                        </td>
                        <td colspan="1" class="text-right pe-0">
                            <h5 class="o_form_field o_form_field_number">@string.Format(culture, "{0:0,0}", Model.TotalAmount)</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    @if (Model.Payments.Any())
    {
<div>
    <div class="text-lg font-semibold mb-1">TIẾN ĐỘ THANH TOÁN</div>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Tiến độ</th>
                <th>Thanh toán</th>
                <th>Ngày thanh toán</th>
                <th>Số tiền cần thanh toán</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.Payments)
            {
<tr>
    <td>@payment.Sequence</td>
    <td class="text-right">
        <span>@(payment.DiscountPercentType == "percent" ? (string.Format(culture, "{0:0,0}", payment.Payment) + "%") : (string.Format(culture, "{0:0,0}", payment.Payment)))</span>
    </td>
    @if (payment.Date.HasValue)
    {
<td class="text-right">@payment.Date.Value.ToString("dd/MM/yyyy")</td>}

    <td class="text-right">@string.Format(culture, "{0:0,0}", payment.Amount)</td>
</tr>}

        </tbody>
    </table>
    <div class="clearfix"></div>
</div>}

    <div class="d-flex mt-2">
        <div class="col">
            <div class="text-center">
                <span class="font-semibold">Người báo giá</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.Name)? Model.Employee.Name.ToUpper() : "")</span>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <span class="font-semibold"> Khách Hàng</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@Model.Partner.Name.ToUpper()</span>
            </div>
        </div>
    </div>
</div>