@model ApplicationCore.Entities.MedicineOrder;

@{
    Layout = "~/Views/Shared/_LayoutA5.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div>
    <div class="d-flex mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="img-fluid me-3 w-20" src="@Model.Company.Logo" alt="@Model.Company.Name">
        }
        <div>
            <div class="text-xl font-semibold">@Model.Company.Name</div>
            @if (!string.IsNullOrEmpty(Model.Company.Partner.GetAddress()))
            {
                <div>Địa chỉ: @Model.Company.Partner.GetAddress()</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>ĐT: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center mb-2">
        <div class="text-3xl font-semibold">HÓA ĐƠN THUỐC</div>
        <div>Ngày @Model.OrderDate.Day tháng @Model.OrderDate.Month năm @Model.OrderDate.Year </div>
        <div class="font-semibold">Số: @Model.Name</div>
    </div>
    <div class="o_form_view mb-2">
        <div class="d-flex">
            <table class="o_group o_inner_group">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Khách hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@Model.Partner.Name</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            @Model.Partner.GetAddress()
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Bác sĩ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@(Model.Employee == null ? "" : Model.Employee.Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="o_form_view mb-2">
        <table class="table table-sm table-bordered mb-0">
            <tr>
                <th>Tên thuốc</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-right">Thành tiền</th>
            </tr>
            @{
                foreach (var line in Model.MedicineOrderLines)
                {
                    <tr>
                        <td>
                            <div class="font-semibold">@line.Product.Name</div>
                            <i>
                                Ngày uống @line.ToaThuocLine.NumberOfTimes.ToString("n0") lần,
                                mỗi lần @line.ToaThuocLine.AmountOfTimes.ToString("n0") @line.Product.UOM.Name,
                                @line.ToaThuocLine.GetUseAtDisplay()
                            </i>
                        </td>
                        <td class="text-center">@line.Quantity.ToString("n0", culture)</td>
                        <td class="text-center">@(line.Price.ToString("n0", culture))</td>
                        <td class="text-right">@(line.AmountTotal.ToString("n0", culture))</td>
                    </tr>
                }
            }

        </table>
    </div>
    <div class="o_form_view float-right mb-2">
        <div class="d-flex">
            <div>
                <table class="o_group o_inner_group">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Tổng tiền
                                </label>
                            </td>
                            <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">@(Model.Amount.ToString("n0", culture))</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Thanh toán
                                </label>
                            </td>
                            <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">@(Model.AccountPayment == null ? "0": Model.AccountPayment.Amount.ToString("n0", culture))</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Còn lại
                                </label>
                            </td>
                            <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">@(string.Format(culture, "{0:n0}", (Model.Amount - (Model.AccountPayment == null ? 0 : Model.AccountPayment.Amount))))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="">
        <div class="o_form_view">
            <table class="o_group o_inner_group">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Lời dặn
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@Model.ToaThuoc.Note</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Tái khám
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">@Model.ToaThuoc.Date.ToString("dd/MM/yyyy")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex">
        <div class="col">
            <div class="text-center">
                <span class="font-semibold">Người lập phiếu</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(Model.Employee == null ? "" : Model.Employee.Name.ToUpper())</span>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <span class="font-semibold"> Bệnh nhân</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@Model.Partner.Name.ToUpper()</span>
            </div>
        </div>
    </div>
</div>

