@model Umbraco.Web.Models.ContentEditing.GetPrintManagementRes
@using Umbraco.Web.Models.ContentEditing;
@{
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<style>
    table.border-top-0 thead th {
        border-top: none;
    }

    table.border-top-0 thead th {
        border-top: none;
    }
</style>
<div class="text-center mb-3">
    <div class="text-3xl font-semibold">BÁO CÁO QUẢN LÝ ĐIỀU TRỊ CHƯA HOÀN THÀNH</div>
</div>
<div class="o_form_view mb-2">
    <div class="h-60 w-100 pt-3">
        @foreach (var item in Model.Data)
        {
        <table class="table table-sm table-bordered @(item.Lines.Count()  == 0 ? "mb-2":"mb-0") " )>
            <thead>
                <tr>
                    <th style="width: 100px">Ngày lập phiếu</th>
                    <th class="" style="width: 80px"> Số phiếu</th>
                    <th class="" style="width: 150px">Khách hàng</th>
                    <th class="text-right" style="width: 100px">Tiền điều trị</th>
                    <th class="text-right" style="width: 100px">Thanh toán</th>
                    <th class="text-right" style="width: 100px">Còn lại</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100px">@(item.DateOrder.ToString("dd/MM/yyyy"))</td>
                    <td class="" style="width: 80px">@item.Name</td>
                    <td class="" style="width: 150px">@item.PartnerName</td>
                    <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", item.AmountTotal)</td>
                    <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", item.TotalPaid)</td>
                    <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", item.Residual)</td>
                </tr>
            </tbody>


            @if (item.Lines.Count() > 0)
            {
                <thead>
                    <tr class="border-top-0">
                        <th colspan="1" style="width: 180px">Dịch vụ</th>
                        <th colspan="1" style="width: 100px">Đơn vị tính</th>
                        <th style="width:80px">Số lượng</th>
                        <th class="text-right" style="width: 100px">Thành tiền</th>
                        <th class="text-right" style="width: 100px">Thanh toán</th>
                        <th class="text-right" style="width: 100px">Còn lại</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in item.Lines)
                    {
                    <tr>
                        <td colspan="1" style="width: 180px">@(line.Name)</td>
                        <td colspan="1" style="width: 100px">@(line.ProductUOM != null ? line.ProductUOM.Name : "")</td>
                        <td style="width: 80px">@string.Format(culture, "{0:N0}", @line.ProductUOMQty)</td>
                        <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", @line.PriceSubTotal)</td>
                        <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", line.AmountPaid)</td>
                        <td class="text-right" style="width: 100px">@string.Format(culture, "{0:N0}", line.AmountResidual)</td>
                    </tr>
                    }

                </tbody>
            }
            <tr><td colspan="6"></td></tr>
        </table>
        }
    </div>
    <div class="d-flex">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="text-center">
                <span>Ngày @DateTime.Now.Day, tháng @DateTime.Now.Month, năm @DateTime.Now.Year </span> <br />
                <span class="font-semibold">Người lập báo cáo</span> <br />
                <i>(Ký và ghi rõ họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(Model.User == null ? "" : Model.User.Name.ToUpper())</span>
            </div>
        </div>
    </div>
</div>
