@model Umbraco.Web.Models.ContentEditing.PartnerOldNewReportPrint
@using Umbraco.Web.Models.ContentEditing;
@{
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var gender_dict = new Dictionary<string, string>()
            {
                { "male", "Nam" },
                { "female", "Nữ" },
                { "other", "Khác" }
            };
    var status_dict = new Dictionary<string, string>()
            {
                { "sale", "Đang điều trị" },
                { "done", "Hoàn thành" },
                { "draft", "Chưa phát sinh" }
            };
}

<div class="text-center mb-2">
    <div class="text-3xl font-semibold">BÁO CÁO TỔNG QUAN KHÁCH HÀNG</div>
    <div>
        @((Model.DateFrom.HasValue? "Từ ngày " + Model.DateFrom.Value.ToString("dd/MM/yyyy") : "") +
                (Model.DateFrom.HasValue ? " đến ngày " + Model.DateTo.Value.ToString("dd/MM/yyyy") : ""))
    </div>
</div>

<div class="o_form_view mb-2">
    <div class="h-60 w-100 pt-3">
        @foreach (var item in Model.Data)
        {
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="bg-info font-semibold">
                        <th scope="col" class="" style="width:100px">Khách hàng</th>
                        <th scope="col" class="" style="width:60px">Tuổi</th>
                        <th scope="col" class="" style="width:100px">Giới tính</th>
                        <th scope="col" class="" style="width:120px">Địa chỉ</th>
                        <th scope="col" class="text-right" style="width:100px">Doanh thu</th>
                        <th scope="col" class="" style="width:100px">Hạng thành viên</th>
                        <th scope="col" style="width:80px">Nguồn</th>
                        <th scope="col" style="width:80px">nhãn</th>
                        <th scope="col" style="width:150px">Tình trạng điều trị</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="" style="width:100px">@item.Name</td>
                        <td class="" style="width:60px">@item.Age</td>
                        <td class="" style="width:100px">@(!string.IsNullOrEmpty(item.Gender) && gender_dict.ContainsKey(item.Gender) ? gender_dict[item.Gender] : "Nam")</td>
                        <td  style="width:120px">@item.Address</td>
                        <td class="text-right"  style="width:100px">@(string.Format(culture, "{0:0,0}", item.Revenue))</td>
                        <td  style="width:100px">@(item.MemberLevel != null ? item.MemberLevel.Name : "")</td>
                        <td style="width:80px">@item.SourceName</td>
                        <td style="width:80px">@(string.Join(",", item.Categories.Select(x=> x.Name).ToList()))</td>
                        <td style="width:150px">@(!string.IsNullOrEmpty(item.Gender) && status_dict.ContainsKey(item.Gender) ? status_dict[item.Gender] : "Chưa phát sinh")</td>
                    </tr>
                </tbody>
            </table>
        }

    </div>
    <div class="d-flex">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="text-center">
                <span>Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year </span> <br />
                <span class="font-semibold">Người lập báo cáo</span> <br />
                <i>(Ký và ghi rõ họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-semibold">@(Model.User == null ? "" : Model.User.Name.ToUpper())</span>
            </div>
        </div>
    </div>
</div>