@model Umbraco.Web.Models.ContentEditing.HrPayslipRunDisplay

@{
    Layout = "~/Views/Shared/_LayoutA5.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<style>
    .body {
        font-size: 18px;
    }

    .table td, .table th {
        border-top: unset !important;
    }

    .active {
        background-color: #adb5bd;
    }

    .page-break {
        page-break-before: always;
    }

        .page-break:first-child {
            page-break-before: avoid;
        }

    .logo {
        text-align: center;
        vertical-align: middle;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .logo-image {
        max-width: 150px;
        height: auto;
        margin: auto;
        vertical-align: middle;
    }
</style>


@if (Model.Slips != null && Model.Slips.Count() > 0)
{

    foreach (var slip in Model.Slips)
    {
        <div class="body px-3 py-3 overflow-auto page-break">
            <div class="px-3">
                <div class="row border border-secondary">
                    <div class="col-4 border-right">
                        <div class="logo">
                            <img class="logo-image" src="@Model.Company.Logo" alt="">
                        </div>

                    </div>
                    <div class="col-8">
                        <div class="title" style="text-align: center; padding: 15px;">
                            <h3>PHIẾU THANH TOÁN LƯƠNG NHÂN VIÊN</h3>
                            <h3>@(Model.Date.HasValue ? Model.Date.Value.ToString("MM/yyyy") : "")</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-90 w-100 pt-3">
                <div class="h-30 w-100 body-content d-flex">
                    <div class="h-100 w-50 pr-2">
                        <h4>Bảng thông tin nhân viên</h4>
                        <table class="table table-bordered  table-sm">
                            <tbody>
                                <tr>
                                    <td>Nhân viên</td>
                                    <td>@(slip.Employee != null ? slip.Employee.Name : "")</td>
                                </tr>
                                <tr>
                                    <td>Mã nhân viên</td>
                                    <td>@(slip.Employee != null ? slip.Employee.Ref : "")</td>
                                </tr>
                                <tr>
                                    <td>Lương/tháng</td>
                                    <td>@(slip.Employee != null && slip.Employee.Wage.HasValue ? string.Format(culture, "{0:0,0}", slip.Employee.Wage.Value) : "0")</td>
                                </tr>
                                <tr>
                                    <td>Số ngày nghỉ/tháng</td>
                                    <td>@(slip.Employee != null && slip.Employee.LeavePerMonth.HasValue ? Decimal.ToInt32(slip.Employee.LeavePerMonth.Value): 0)</td>
                                </tr>
                                <tr>
                                    <td>Số giờ làm/ngày</td>
                                    <td>@(slip.Employee != null && slip.Employee.RegularHour.HasValue ? Decimal.ToInt32( slip.Employee.RegularHour.Value) : 0)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="h-100 w-50 pl-2">
                        <h4>Chấm công</h4>
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Nội dung</th>
                                    <th>Số ngày</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Số ngày công</td>
                                    <td>@(slip.WorkedDay.HasValue ? Decimal.ToDouble(slip.WorkedDay.Value) : 0)</td>
                                </tr>
                                <tr>
                                    <td>Số ngày nghỉ</td>
                                    <td>@(slip.ActualLeavePerMonth.HasValue ? Decimal.ToDouble(slip.ActualLeavePerMonth.Value) : 0)</td>
                                </tr>
                                <tr>
                                    <td>Ngày nghỉ không lương</td>
                                    <td>@(slip.LeavePerMonthUnpaid.HasValue ? Decimal.ToDouble(slip.LeavePerMonthUnpaid.Value) : 0)</td>
                                </tr>
                                <tr>
                                    <td>Ngày làm thêm</td>
                                    <td>@(slip.OverTimeDay.HasValue ? Decimal.ToDouble(slip.OverTimeDay.Value) : 0)</td>
                                </tr>
                                <tr>
                                    <td>Số giờ tăng ca</td>
                                    <td>@(slip.OverTimeHour.HasValue ? Decimal.ToDouble(slip.OverTimeHour.Value) : 0)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="h-60 w-100 pt-3">
                    <div class="d-flex">
                        <div class="w-50">
                            <h4>Chi tiết lương</h4>
                        </div>
                        <div class="w-50">
                            <h4 class="float-right">ĐVT: VNĐ</h4>
                        </div>
                    </div>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="bg-info font-weight-bold">
                                <th scope="col">STT</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lương cơ bản</td>
                                <td>@(slip.TotalBasicSalary.HasValue ? string.Format(culture, "{0:0,0}", slip.TotalBasicSalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lương tăng ca</td>
                                <td>@(slip.OverTimeHourSalary.HasValue && slip.OverTimeHourSalary.Value != 0 ? string.Format(culture, "{0:0,0}", slip.OverTimeHourSalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Lương làm thêm</td>
                                <td>@(slip.OverTimeDaySalary.HasValue && slip.OverTimeDaySalary.Value != 0 ? string.Format(culture, "{0:0,0}", slip.OverTimeDaySalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Phụ cấp xác định</td>
                                <td>@(slip.Employee != null && slip.Employee.Allowance.HasValue && slip.Employee.Allowance.Value != 0 ?  string.Format(culture, "{0:0,0}", slip.Employee.Allowance.Value) : "0")</td>
                            <tr>
                                <td>5</td>
                                <td>Phụ cấp khác</td>
                                <td>@(slip.OtherAllowance.HasValue ? string.Format(culture, "{0:0,0}", slip.OtherAllowance.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Thưởng</td>
                                <td>@(slip.RewardSalary.HasValue ? string.Format(culture, "{0:0,0}", slip.RewardSalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Phụ cấp lễ tết</td>
                                <td>@(slip.HolidayAllowance.HasValue ? string.Format(culture, "{0:0,0}", slip.HolidayAllowance.Value) : "0")</td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>Hoa hồng</td>
                                <td>@(slip.CommissionSalary.HasValue && slip.CommissionSalary.Value != 0 ? string.Format(culture, "{0:0,0}", slip.CommissionSalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Phạt</td>
                                <td>@(slip.AmercementMoney.HasValue && slip.AmercementMoney.Value != 0 ? string.Format(culture, "{0:0,0}", slip.AmercementMoney.Value) : "0")</td>
                            </tr>
                            <tr class="bg-info font-weight-bold">
                                <td></td>
                                <td>Tổng lương</td>
                                <td>@(slip.TotalSalary.HasValue ? string.Format(culture, "{0:0,0}", slip.TotalSalary.Value) : "0")</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Tạm ứng</td>
                                <td>@(slip.AdvancePayment.HasValue && slip.AdvancePayment.Value != 0 ? string.Format(culture, "{0:0,0}", slip.AdvancePayment.Value) : "0")</td>
                            </tr>
                            <tr class="bg-info font-weight-bold">
                                <td></td>
                                <td>Thực lĩnh</td>
                                <td>@(slip.NetSalary.HasValue ? string.Format(culture, "{0:0,0}", slip.NetSalary.Value) : "0")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-center">
                        @(string.Format(culture, "{0:dddd}", DateTime.Now)), Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm">
                        <div class="text-center">
                            <span class="font-weight-600">Người lập phiếu</span> <br />
                            @*<i>(Ký, họ tên)</i> <br />*@
                            <span></span> <br />
                            <span></span> <br />
                            <span></span> <br />
                            <span class="font-weight-600">@(Model.User != null ? Model.User.Name.ToUpper() : "")</span>
                        </div>
                    </div>
                    <div class="col col-sm">
                        <div class="text-center">
                            <span class="font-weight-600"> Người lao động</span> <br />
                            @*<i>(Ký, họ tên)</i> <br />*@
                            <span></span> <br />
                            <span></span> <br />
                            <span></span> <br />
                            <span class="font-weight-600">@(slip.Employee != null ? slip.Employee.Name.ToUpper() : "")</span>
                        </div>
                    </div>
                </div>
                @*<div class="row font-weight-bold">
                    <div class="col-6 text-center">
                        Người lập phiếu
                    </div>
                    <div class="col-6 text-center">
                        Người lao động
                    </div>
                </div>*@
                @*<div class="h-10 w-100 pt-2">
            <table class="table border-none">
                <tr>
                    <th class="text-center">Người lập phiếu</th>
                    <th class="text-center">
                        @string.Format(culture, "{0:dddd}", DateTime.Now), Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year
                        <p>Người lao động</p>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="text-center">
                        @(Model.User != null ? Model.User.Name.ToUpper(culture) : "")
                    </th>
                    <th class="text-center">@(slip.Employee!=null ? slip.Employee.Name.ToUpper(culture) : "")</th>
                </tr>
            </table>
        </div>*@
            </div>
        </div>
    }
}
