@model Umbraco.Web.Models.ContentEditing.SaleOrderPrintVM
@{
    Layout = "~/Views/Shared/_LayoutA5.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="o_form_view">
    <div class="media mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="mr-3" src="@Model.Company.Logo" style="max-width: 200px" alt="@Model.Company.Name">
        }
        <div class="media-body">
            <h5 class="mt-0">@Model.Company.Name</h5>
            @if (!string.IsNullOrEmpty(Model.Company.Address))
            {
                <div>Địa chỉ: @Model.Company.Address</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>ĐT: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center">
        <h2>HỒ SƠ ĐIỀU TRỊ</h2>
        <div>Ngày @Model.DateOrder.Day tháng @Model.DateOrder.Month năm @Model.DateOrder.Year </div>
        <div class="font-weight-600">Số: @Model.Name</div>
        @*<span>Số: @Model.Name - Ngày: @Model.DateOrder.ToString("dd/MM/yyyy")</span>*@
    </div>
    <div class="o_group mt-0 mb-0">
        <table class="o_group o_inner_group">
            <tbody>
                <tr>
                    <td colspan="1" class="o_td_label">
                        <label class="o_form_label o_form_label_help">
                            Khách hàng
                        </label>
                    </td>
                    <td colspan="1" style="width: 100%;">
                        @Model.Partner.Name
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Partner.Phone))
                {
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Điện thoại
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            @Model.Partner.Phone
                        </td>
                    </tr>
                }

                @if (!string.IsNullOrEmpty(Model.Partner.Address))
                {
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            @Model.Partner.Address
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h5>BẢNG KÊ DỊCH VỤ</h5>
        <table class="table table-sm table-bordered mb-2">
            <thead>
                <tr>
                    <th>Dịch vụ</th>
                    <th class="text-right">Số lượng</th>
                    <th class="text-right">Đơn giá</th>
                    <th class="text-right">Giảm</th>
                    <th class="text-right">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.OrderLines)
                {
                    <tr *ngFor="let line of saleOrderPrint.orderLines; let i=index">
                        <td>@line.ProductName</td>
                        <td class="text-right">@string.Format(culture, "{0:0}", @line.ProductUOMQty)</td>
                        <td class="text-right">@string.Format(culture, "{0:0,0}", line.PriceUnit)</td>
                        @if (line.DiscountType == "percentage")
                        {
                            <td class="text-right">@string.Format(culture, "{0:0}", line.Discount)%</td>
                        }
                        else if (line.DiscountType == "fixed")
                        {
                            <td class="text-right">@string.Format(culture, "{0:0,0}", line.DiscountFixed)</td>
                        }

                        <td class="text-right">@string.Format(culture, "{0:0,0}", line.PriceSubTotal)</td>
                    </tr>
                }

            </tbody>
        </table>
        <table class="o_inner_group oe_right float-right">
            <tbody>
                <tr>
                    <td colspan="1" class="o_td_label pr-3">
                        <label class="o_form_label">
                            Tổng tiền
                        </label>
                    </td>
                    <td colspan="1" class="text-right">
                        <span class="o_form_field o_form_field_number">@string.Format(culture, "{0:0,0}", Model.AmountTotal)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" class="o_td_label pr-3">
                        <label class="o_form_label">
                            Đã thanh toán
                        </label>
                    </td>
                    <td colspan="1" class="text-right">
                        <span class="o_form_field o_form_field_number">@((Model.AmountTotal - Model.Residual) == 0 ? "0" : string.Format(culture, "{0:0,0}", (Model.AmountTotal - Model.Residual)))</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" class="o_td_label pr-3">
                        <label class="o_form_label">
                            Còn lại
                        </label>
                    </td>
                    <td colspan="1" class="text-right">
                        <span class="o_form_field o_form_field_number">@(Model.Residual == 0 ? "0" : string.Format(culture, "{0:0,0}", Model.Residual) )</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    @if (Model.HistoryPayments.Any())
    {
        <div class="mt-3">
            <h5>THEO DÕI THANH TOÁN</h5>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        @*<th>Số phiếu</th>*@
                        <th>Ngày</th>
                        <th>Phương thức</th>
                        <th>Nội dung</th>
                        <th class="text-right">Thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.HistoryPayments)
                    {
                        <tr>
                            @*<td>@payment.Ref</td>*@
                            <td>@payment.Date.Value.ToString("dd/MM/yyyy")</td>
                            <td>@payment.JournalName</td>
                            <td>@payment.Communication</td>
                            <td class="text-right">@string.Format(culture, "{0:0,0}", payment.Amount)</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    }
    @{int i = 1;}
    @if (Model.DotKhams.Any())
    {

        <div class="mt-2">
            <h5>THÔNG TIN ĐỢT KHÁM</h5>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Đợt khám</th>
                        <th>Ngày</th>
                        <th>Bác sĩ</th>
                        <th>Mô tả</th>
                        <th>Dịch vụ</th>
                        <th>Công đoạn</th>
                        <th>Răng, Chi tiết điều trị</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dotkham in Model.DotKhams)
                    {
                        @foreach (var line in dotkham.Lines)
                        {
                    <tr>
                        @if (dotkham.Lines.FirstOrDefault().Id == line.Id)
                        {
                            <td class="align-middle" rowspan="@dotkham.Lines.Count()"> Đợt khám @dotkham.Sequence</td>
                            <td class="align-middle" rowspan="@dotkham.Lines.Count()">@dotkham.Date.ToString("dd/MM/yyyy")</td>
                            <td class="align-middle" rowspan="@dotkham.Lines.Count()">@dotkham.Doctor.Name</td>
                            <td class="align-middle" rowspan="@dotkham.Lines.Count()">@dotkham.Reason</td>
                        }

                        <td>@line.Product.Name</td>
                        <td>@line.NameStep</td>
                        <td class="text-left">
                            <span>@String.Join(", ", line.Teeth.Select(x => x.Name).ToArray())</span>
                            <p>@line.Note</p>
                        </td>
                    </tr>
                        }


                        i++;
                    }

                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    }

    <div class="row">
        <div class="col col-sm">
            <div class="text-center">
                <span class="font-weight-600">Người lập phiếu</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                @*<span class="font-weight-600">@(Model.User.Name.ToUpper())</span>*@
            </div>
        </div>
        <div class="col col-sm">
            <div class="text-center">
                <span class="font-weight-600"> Khách Hàng</span> <br />
                <i>(Ký, họ tên)</i> <br />
                <span></span> <br />
                <span></span> <br />
                <span></span> <br />
                <span class="font-weight-600">@Model.Partner.Name.ToUpper()</span>
            </div>
        </div>
    </div>
</div>