@model Umbraco.Web.Models.ContentEditing.ToaThuocPrintViewModel;
@{
    Layout = "~/Views/Shared/_LayoutA5.cshtml";
}

<div class="o_form_view o_print">
    <div class="media mb-2">
        @if (!string.IsNullOrEmpty(Model.Company.Logo))
        {
            <img class="mr-3" src="@Model.Company.Logo" style="max-width: 150px" alt="@Model.Company.Name">
        }
        <div class="media-body">
            <h5 class="mb-0">@Model.Company.Name</h5>
            @if (!string.IsNullOrEmpty(Model.Company.Address))
            {
                <div>Địa chỉ: @Model.Company.Address</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Phone))
            {
                <div>ĐT: @Model.Company.Phone</div>
            }
            @if (!string.IsNullOrEmpty(Model.Company.Email))
            {
                <div>Email: @Model.Company.Email</div>
            }
        </div>
    </div>
    <div class="text-center">
        <h1>ĐƠN THUỐC</h1>
        <span>Số: @Model.Name - Ngày: @Model.Date.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="o_group" style="display: flex;">
        <table class="o_group o_inner_group o_group_col_6">
            <tbody>
                <tr>
                    <td colspan="1" class="o_td_label">
                        <label class="o_form_label o_form_label_help">
                            Khách hàng
                        </label>
                    </td>
                    <td colspan="1" style="width: 100%;">
                        @Model.Partner.Name
                    </td>
                </tr>
                <tr>
                    <td colspan="1" class="o_td_label">
                        <label class="o_form_label o_form_label_help">
                            Địa chỉ
                        </label>
                    </td>
                    <td colspan="1" style="width: 100%;">
                        @Model.Partner.Address
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="o_group o_inner_group o_group_col_6">
            <tbody>
                <tr>
                    <td colspan="1" class="o_td_label">
                        <label class="o_form_label o_form_label_help">
                            Phái
                        </label>
                    </td>
                    <td colspan="1" style="width: 100%;">
                        @Model.Partner.DisplayGender
                    </td>
                </tr>
                <tr>
                    <td colspan="1" class="o_td_label">
                        <label class="o_form_label o_form_label_help">
                            Tuổi
                        </label>
                    </td>
                    <td colspan="1" style="width: 100%;">
                        @(Model.Partner.Age != null ? Model.Partner.Age.ToString() : "")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Thuốc</th>
                    <th class="text-right">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Lines)
                {
                    <tr>
                        <td>
                            <span class="font-weight-bold">@line.ProductName </span> <br />
                            <span class="font-italic">@line.Name </span>
                        </td>
                        <td class="text-right">@line.Quantity.ToString("n0")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>Lời dặn: @Model.Note</div>
    <div class="row">
        <div class="col">
            <div class="text-center font-weight-bold">
                &nbsp;
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <strong>Bác sĩ</strong> <br />
                <span>@Model.EmployeeName</span>
            </div>
        </div>
    </div>
</div>